{% extends 'base.html.twig' %}

{% block title %}Everything Dark - profile edit

{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center">


		<h1>Profile edit</h1>

		{{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

		{% for flashType, messages in app.session.flashBag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ flashType }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

	</div>
{% endblock %}
