{% extends 'base.html.twig' %}

{% block title %}Add a comment
{% endblock %}

{% block body %}
	<h1>Add  a comment :
	</h1>

	{{ include('comment/_form.html.twig') }}

	{# <div>
			<a href="{{ path('app_article_index') }}">
				<button class="css-button-3d--grey m-3" type="submit">back to articles list</button>
	
			</a>
		</div> #}
{% endblock %}
