@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");

h1 {
  font-weight: bold;
}

h2:hover,
h3:hover {
  color: rgb(255, 255, 255);
}

h2,
h3 {
  color: rgb(187, 185, 185);
}

body {
  margin: 0 auto;
  font-family: "Yuji Syuku", serif;
  background-color: #141618;
}

main {
  width: 60%;
  margin: 0 auto;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 1em;
}

.navbar-nav a {
  font-size: 1.3rem;
}

.navbar {
  height: 5rem;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar > ul {
  justify-content: flex-end;
}

.navbar-nav > li > a {
  margin: 1.5rem;
}

input {
  border-radius: 15px;
  padding: 6px 15px;
}

img {
  box-shadow: 0px 0px 30px 1px rgb(89, 90, 90);
}

.css-button-3d--grey {
  border-radius: 20px;
  border: none;
  padding: 6px 18px;
  background-color: #909292;
  color: rgb(29, 31, 34);
  margin-bottom: 15px;
  font-weight: bold;
}
.css-button-3d--grey:hover {
  background-color: rgb(208, 210, 211);
}

.article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row !important;
  margin: 30px auto;
}

footer {
  color: white;
  background-color: #141618;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  main {
    width: 100%;
  }

  .article {
    flex-wrap: wrap;
  }

  .navbar-brand {
    font-size: 1.2em;
    margin-right: 0;
  }

  h1 {
    font-size: 3em !important;
  }
}
