{% extends 'base.html.twig' %}

{% block title %}Everything Dark - Categories
{% endblock %}

{% block body %}
	<div class="d-flex flex-column justify-content-center align-items-center">


		<h1 class="d-flex text-center mb-5">Categories</h1>

		{% for category in categories %}
			<div>
				<a href="{{ path('app_category_show', {'id': category.id}) }}" style="text-decoration: none; color: lightgrey; margin-bottom: 1rem;">
					<h2 class="mb-3">{{ category.name }}</h2>
				</a>
			</div>
		{% endfor %}

		{% for flashType, messages in app.session.flashBag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ flashType }}" style="text-decoration: none; color: white; margin-top: 1rem;">

					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

	</div>

{% endblock %}
