<footer>


	<p>
		<strong>Everything Dark &reg;</strong>
	</p>

	<p>&nbsp;all rights reserved</p>

	{# <div id="footer_logo">
															<a href="" target="blank">
																<img class="logo" src="./images/youtube.png" alt="youtube"/></a>
															<a href="" target="blank">
																<img class="logo" src="./images/instagram.png" alt="instagram"/></a>
															<a href="" target="blank">
																<img class="logo" src="./images/facebook.png" alt="facebook"/></a>
														</div> #}

</footer>
